:host {
  display: block;
  width: 300px;
  --ngx-suffix__text-color: gray;
}

button {
  margin-bottom: 16px;
}

.domain-input {
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

