:host {
  display: block;
  width: 300px;
  --ngx-suffix__text-color: gray;
}

.domain-input {
  display: block;
  flex-grow: 1;

  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  
  color: #344a5e;

  border: 1px solid gray;
  border-radius: 3px;
}

